.title {
  color: rgb(70, 105, 243);
  font-family: sans-serif;
}

.box {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: rgb(222, 222, 222);
}
